<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>

<h1>Well, hello there!!</h1>
<h2>I code for {{myCompany}} as a fullStack Developer.</h2>

<input type="text" [value]="myCompany" (input)="updateCompany($event)" size="40">

<h2>My new company's name is {{myCompany}}</h2>

<button class="{{btnStyle}}" [disabled]="disableStatus" (click)="showMessage($event)"> click me! </button>  

<button class="btn btn-danger" (click)="printLogFile($event)">{{printBtn}}</button>


<app-course></app-course>

<hr>

<app-faculty></app-faculty>

<hr>

<app-student></app-student>